<h1> Nesto </h1>


<div *ngFor="let potraznja of potraznje">
    <table class="table" >

        <thead>
        <tr>
            <th> Naziv jela  </th>

        </tr>
        </thead>
        <tbody>
        <tr class="dimOnHover" *ngFor ="let p of potraznja.lista"  >
            <td>{{p.naziv}} </td>

        </tr>
        </tbody>

    </table>

    <div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="add-iznos" type="number" class="form-control" name="iznos" value="" [(ngModel)] = "iznos" placeholder="* iznos">
        </div>

        <div>
            <div class="col-sm-12 controls">
                <button id="btn-add" href="#" (click)="addPonuda(potraznja.idRestorana,potraznja.doKad,iznos)" class="btn btn-success" style ="margin-left: 450px"  [disabled]="iznos==''" >Dodaj</button>

            </div>
        </div>
    </div>

</div>