

<style>
    .dimOnHover:hover {
        background: #000 !important;
        cursor: pointer;
    }

    .dimOnHover:hover td {
        background: #c7d4dd !important;
    }
</style>

<table class="table">

    <thead>
    <tr>
        <th> Naziv namirnice </th>
        <th> Tip jela </th>
        <th> Opis </th>
        <th> Cena </th>
    </tr>
    </thead>
    <tbody>
    <tr class="dimOnHover" *ngFor="let jelo of jelovnik">
        <td>{{jelo.naziv}} </td>
        <td> {{jelo.naziv}}</td>
        <td> {{jelo.naziv}}</td>
        <td> {{jelo.naziv}}</td>
    </tr>
    </tbody>

</table>