<!--
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">      
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink] = "['/']">Wellcome</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a class="nav-link" [routerLink] = "['/restorani']" [routerLinkActive]="['active']">Restorani page</a></li>
        <span class="float-xs-right">dssdf</span>
      </ul>
    </div>
  </nav> -->

<nav class="navbar navbar-dark bg-inverse ">
  <ul class="nav navbar-nav">
    <li class="nav-item"><a class="navbar-brand" [routerLink] = "['/']">@Home</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink] = "['/restorani']" [routerLinkActive]="['active']">Restorani page</a></li> 
     <li class="nav-item"><a class="nav-link" [routerLink] = "['/sistemMenadzer']" [routerLinkActive]="['active']">Sistem menazer</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink] = "['/zaposleni']" [routerLinkActive]="['active']">Zaposleni</a></li>
  </ul>
<!--  <form class="form-inline float-xs-right" *ngIf="ulogovan == null">  
      <input class="form-control" type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="username">
      <input class="form-control" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="password">
      <button class="btn" type="submit" (click)="doLogin()">Login</button> 
  </form> -->

  <ul class="nav navbar-nav  float-xs-right" *ngIf="ulogovan != null">   
       <li class="nav-item"><a class="nav-link" [routerLink] = "['/gostProfil']" >{{ulogovan.ime}}</a></li>
       <li class="nav-item"><button class="btn" type="button" (click)="doLogout()">Logout</button></li>
  </ul>
  <ul class="nav navbar-nav  float-xs-right" *ngIf="ulogovan == null">   
       <li class="nav-item"><button class="btn" type="button" [routerLink] = "['/login']">Login</button></li>
  </ul>
  
</nav>
