<h2 style="margin-top: 20px;">Moje rezervacije</h2>

<div class="row" style="margin-top: 20px; margin-bottom: 10px;">                   
    <div class="col-md-12 text-center">
        <span *ngFor="let rezervacija of rezervacije; let i = index;" >
            <button [ngClass]="randomClassButton(i)" class="btn" style="margin-left: 10px; margin-top:10px;" (click)="ucitajJelaIPicaZaRestoran(rezervacija.restoranId)">{{rezervacija.restoranNaziv}} | {{getDate(rezervacija.pocetak)}}</button>     
        </span> 
    </div>
</div>
<div class="row">
   <div class="col-md-6">      
        <div class="card" style=" margin-bottom: 100px; ">
                <div class="card-header">
                    Jela restorana
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search2" placeholder="Search..">
                        </li>

                    
                        <span *ngFor="let jelo of jela | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" >
                                
                                        <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                    {{jelo.nazivJela}}
                                        <span style="float: right">
                                             Cena : {{toFixed(jelo.cena)}} din &nbsp;
                                            <button class="btn btn-warning btn-sm">Pozovi</button>
                                        </span>                 
                            </li>
                                
                        </span> 
                </ul>
        </div>     
   </div>
    <div class="col-md-6">      
        <div class="card" style=" margin-bottom: 100px; ">
                <div class="card-header">
                    Pica restorana 
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search2" placeholder="Search..">
                        </li>

                    
                        <span *ngFor="let pice of pica | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" >
                                
                                        <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                    {{pice.nazivPica}}
                                        <span style="float: right">
                                            Cena : {{toFixed(pice.cena)}} din &nbsp;
                                            <button class="btn btn-warning btn-sm">Pozovi</button>
                                        </span>                 
                            </li>
                                
                        </span> 
                </ul>
        </div>     
   </div>

    <div class="col-md-6">      
        <div class="card" style=" margin-bottom: 100px; ">
                <div class="card-header">
                    Porucena pica
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search2" placeholder="Search..">
                        </li>

                    
                        <span *ngFor="let pice of pica | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" >
                                
                                        <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                    {{pice.nazivPica}}
                                        <span style="float: right">
                                            Cena : {{toFixed(pice.cena)}} din &nbsp;
                                            <button class="btn btn-warning btn-sm">Pozovi</button>
                                        </span>                 
                            </li>
                                
                        </span> 
                </ul>
        </div>   
    </div>

     <div class="col-md-6">      
        <div class="card" style=" margin-bottom: 100px; ">
                <div class="card-header">
                    Porucena jela
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search2" placeholder="Search..">
                        </li>

                    
                        <span *ngFor="let pice of pica | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" >
                                
                                        <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                    {{pice.nazivPica}}
                                        <span style="float: right">
                                            Cena : {{toFixed(pice.cena)}} din &nbsp;
                                            <button class="btn btn-warning btn-sm">Pozovi</button>
                                        </span>                 
                            </li>
                                
                        </span> 
                </ul>
        </div>   
    </div>

</div>
