
     <div class="col-md-7">
        <div class="card" style="margin-top: 100px;">
            <div class="card-header">
                Login
            </div>
            <div class="card-block">
                <div class="card-block">
                    <form id="loginform" class="form-horizontal" role="form"> 
                                         
                            <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" [(ngModel)]="email" placeholder="email">                                        
                            </div>
                     
                      
                        <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="login-password" type="password" class="form-control" name="password"  [(ngModel)]="password" placeholder="password">
                                </div>
                    

                            
                        <div class="input-group">
                                    <div class="checkbox">
                                    <label>
                                        <input id="login-remember" type="checkbox"  (click)="rememberMe = $event.target.checked" name="remember" value="1"> Remember me
                                    </label>
                                    </div>
                                </div>


                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls" style="color : white;">
                                    <button id="btn-login"  class="btn btn-success" (click)="doLogin()" [disabled]="email == '' || password == ''">Login </button>
                                    <a id="btn-fblogin"  class="btn btn-primary">Login with Facebook</a>
                                    <a id="btn-fblogin" class="btn btn-danger">Login with Google</a>                     
                                </div>
                            </div>
                    </form>     
                </div>
            </div>
        </div>
    </div>
