
<h2  style="margin-top: 20px; " >1. Vreme dolaska</h2>

<div  [ngClass]="{'disabledElement': stage != 1}" class="row" style="background-color: rgba(0,0,0,0.05); padding:10px;">
     <div class="col-md-3">        
            <input class="form-control" [(ngModel)]="odabraniDatum" type="date">
     </div>
     
      <div class="col-md-2 form-inline">        
            <input [(ngModel)]="casDolaska" min="9" class="form-control" placeholder="hh" max="20" type="number">
             <input [(ngModel)]="minutDolaska" min="0" class="form-control" placeholder="mm" max="60" type="number">
     </div>

      <div class="col-md-2 form-inline">    
            <label>Dužina boravka</label>    
            <input [(ngModel)]="duzinaBoravka" min="0.5" class="form-control" placeholder="hh" max="4" type="number">
     </div>

     <div class="col-md-2 text-center">
        <button class="btn btn-success" (click)="stage = 2; proveriZauzetostStolovaZaOdabraniDolazakOdlazak()" [disabled]="_odabraniDatum.getTime() <= (danas.getTime()-3600000)"> Potvrdi vreme </button>   
    </div>   
</div>

<h2  style="margin-top: 20px;">2. Stovolvi</h2>

<div  [ngClass]="{'disabledElement': stage != 2}" class="row" style="background-color: rgba(0,0,0,0.05); padding:10px;">
    <div *ngFor="let sto of stolovi; let i = index" (click)="!sto.zauzet? odaberiSto(sto): 1" class="col-md-2" style="margin-top:20px">
         <div class="card sto"  [style.background-color]="sto.zauzet? '#6E470B' :'#461F00'" style="color: white">
            <div class="card-block">
                <h3 class="card-title">Sto {{i}}</h3>
                <p *ngIf="sto.zauzet" class="card-text">zauzet</p>
                <p *ngIf="!sto.zauzet" class="card-text">slobodan</p>
            </div>
        </div>
    </div>        
</div>


<h2  style="margin-top: 20px;">3. Pozovi prijatelje</h2>

<div  [ngClass]="{'disabledElement': stage != 3}" class="row" style="margin-top: -80px;" style="background-color: rgba(0,0,0,0.05); padding:10px;">
   <div class="col-md-6">
        <div class="card" style="margin-bottom: 100px; ">
                 <div class="card-header">
                    Nepozvani prijatelji
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search1" placeholder="Search..">
                        </li>

                    
                        <span *ngFor="let i = index; let gost of nepozvaniPrijatelji | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)" >
                                
                                           <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                       {{gost.email}}
                                        <span style="float: right">
                                            <button class="btn btn-success btn-sm" (click)="pozovi(i)">Pozovi</button>
                                        </span>                 
                            </li>
                                
                        </span> 

                </ul>
        </div>
   </div>

   <div class="col-md-6">
        <div class="card" style=" margin-bottom: 100px; ">
                <div class="card-header">
                    Pozvani prijatelji
                </div>
                <ul class="list-group list-group-flush">
                     

                    
                        <span *ngFor="let i = index; let gost of pozvaniPrijatelji  | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)" >
                                
                                           <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                       {{gost.email}}
                                        <span style="float: right">
                                            <button class="btn btn-warning btn-sm" (click)="nepozovi(i)">Nepozovi</button>
                                        </span>                 
                            </li>
                                
                        </span> 

                </ul>
        </div>
   </div>
</div>

<div  [ngClass]="{'disabledElement': stage != 3}" class="row">
  <div class="col-md-12 text-center" style="margin-top:50px; margin-bottom: 100px;">
       <button class="btn btn-lg btn-primary" (click)="rezervisi()">Rezerviši</button>
   </div>
</div>

<style>
    h2{
        font-weight: normal;
        font-size: 50px;
    }

    .sto :hover{
        cursor: pointer;
    };

</style>