<div class="row">

     <div class="col-md-6" *ngIf="gost != null">
        <div class="card" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="card-header">
                Profil
            </div>
            <div class="card-block">


                    <div class="form-group row" class="input-group">
                        <label for="example-text-input" class="col-2 col-form-label">Ime</label>
                        <input id="login-ime" type="text" class="form-control" value="" [(ngModel)] = "gost.ime" placeholder="* ime">                                        
                    </div>

                        <div class="form-group row" class="input-group">
                                <label for="example-text-input" class="col-2 col-form-label">Prezime</label>
                                <input type="text" class="form-control" value="" [(ngModel)] = "gost.prezime" placeholder="* prezime">                                        
                        </div>

                        <div class="form-group row" class="input-group">
                                <label for="example-text-input" class="col-2 col-form-label">Email</label>
                                <input readonly  type="email" class="form-control"  value="" [(ngModel)] = "gost.email" placeholder="* email">                                        
                        </div>
                         
                
              
              

            </div>

            <div class="card-block">
                <button class="btn btn-success" (click)="modifyGosta()">Sacuvaj izmene</button>
            </div>
        </div>     
    </div>


    <div class="col-md-6" *ngIf="poziviURestorane.length != 0" style="margin-top:100px;">      
        <table class="table">
            <thead>
                <tr>
                    <th>Pozivaoc</th>
                    <th>Restoran</th>
                    <th>Vreme</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i = index; let poziv of poziviURestorane" >
                    <td>{{poziv.pozvanOd}}</td>
                    <td>{{poziv.restoranNaziv}}</td>
                    <td>{{getVreme(poziv.pocetak)}}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="prihvatiPozivURestoran(poziv.idPoziva)">Prihvati</button></td>
                    <td><button class="btn btn-sm btn-warn" (click)="odbijPozivURestoran(poziv.idPoziva)">Odbij</button></td>
                </tr>                      
            </tbody>
        </table>  
    </div>




    <div class="col-md-6" *ngIf="gostPozvanUPrijateljstvoOd.length != 0">
        <div class="card" style="margin-top: 100px; margin-bottom: 100px; ">
                <div class="card-header">
                    Pozvani ste u prijateljstvo
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search4" (ngModelChange) = "IzmenaListe()" placeholder="Search..">
                        </li>
                    
                        <span *ngFor="let i = index; let gost of gostPozvanUPrijateljstvoOd | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)" >
                                
                                       <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                       {{gost.email}}
                                        <span style="float: right">
                                            <button class="btn btn-primary btn-sm" (click) = "prihvatiZahtev(gost,i)">Prihvati</button>
                                             <button class="btn btn-danger btn-sm" (click) = "odbijZahtev(gost,i)">Neprihvati</button>
                                        </span>  
                                                            
                            </li>
                                
                    </span> 

                </ul>
            </div>
    </div>

</div>

<div class="row">

     <div class="col-md-12" *ngIf="gost != null">
        <div class="card-group">
    
            <div class="card" style="margin-top: 100px; margin-bottom: 100px; ">
                <div class="card-header">
                    Pozvali ste u prijateljstvo
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search1" (ngModelChange) = "IzmenaListe()" placeholder="Search..">
                        </li>
                    
                        <span *ngFor="let i = index; let gost of pozvaniUPrijateljstvo | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)" >
                                
                                       <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                       {{gost.email}}
                                        <span style="float: right">
                                            <button class="btn btn-success btn-sm" (click) = "prekiniZahtev(gost,i)">Prekini</button>
                                        </span>  
                                                            
                            </li>
                                
                    </span> 

                </ul>
            </div>
     

        
            <div class="card" style="margin-top: 100px; margin-bottom: 100px; ">
                <div class="card-header">
                    Prijatelji
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search2" (ngModelChange) = "IzmenaListe()" placeholder="Search..">
                        </li>

                    
                        <span *ngFor="let i = index; let gost of prijatelji | limitDuzineListe : 15" >
                            <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)" >
                                
                                           <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                       {{gost.email}}
                                        <span style="float: right">
                                            <button class="btn btn-warning btn-sm" (click) = "prekiniPrijateljstvo(gost,i)">Prekini</button>
                                        </span>                 
                            </li>
                                
                    </span> 

                </ul>
            </div>
        

     
            <div class="card" style="margin-top: 100px; margin-bottom: 100px; ">
                <div class="card-header">
                    Ostali
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="text" class="form-control" [(ngModel)]="search3" (ngModelChange) = "IzmenaListe()" placeholder="Search..">
                        </li>

                        <span *ngFor="let i = index; let gost of nepozvaniUPrijateljstvo | limitDuzineListe : 15 " >
                            <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)" >
                                
                                         <!--  {{(gost.ime + ' ' + gost.prezime) | limitDuzineStringa : 15}} -->
                                       {{gost.email}}
                                        <span style="float: right">
                                            <button class="btn btn-primary btn-sm"  (click) = "posaljiZahtev(gost,i)">Posalji zahtev</button>
                                        </span>  
                                                
                            </li>
                                
                    </span> 
                </ul>
            </div>
        </div>
     </div>
</div>