<div class="row">
     <div class="col-md-6">
        <div class="card" style="margin-top: 100px; margin-bottom: 100px;">
            <div class="card-header">
                Profil
            </div>
            <div class="card-block">

                                                        
                    <div class="form-group row" class="input-group">
                        <label for="example-text-input" class="col-2 col-form-label">Ime</label>
                        <input id="login-ime" type="text" class="form-control" value="" [(ngModel)] = "gost.ime" placeholder="* ime">                                        
                    </div>

                        <div class="form-group row" class="input-group">
                                <label for="example-text-input" class="col-2 col-form-label">Prezime</label>
                                <input type="text" class="form-control" value="" [(ngModel)] = "gost.prezime" placeholder="* prezime">                                        
                        </div>

                        <div class="form-group row" class="input-group">
                                <label for="example-text-input" class="col-2 col-form-label">Email</label>
                                <input readonly  type="email" class="form-control"  value="" [(ngModel)] = "gost.email" placeholder="* email">                                        
                        </div>
                         
                
              
              

            </div>

            <div class="card-block">
                <button class="btn btn-success">Sacuvaj izmene</button>
            </div>
        </div>     
    </div>



     <div class="col-md-6">
        <div class="card" style="margin-top: 100px; margin-bottom: 100px; ">
            <div class="card-header">
                Svi Gosti
            </div>
              <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Search <input type="text" class="form-control" [(ngModel)]="search">
                    </li>
                 
                    <span *ngFor="let gost of oniKojimaJePoslatZahtev | limitDuzineListe : 10" >
                        <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)  &&   (gost.ime + gost.prezime + gost.email).toLowerCase().indexOf(search.toLowerCase()) > -1" >
                            
                                    • {{gost.ime}} {{gost.prezime}} 
                                    <span style="float: right">
                                        <button class="btn btn-success btn-sm" >Prekini zahtev</button>
                                    </span>  
                                                        
                        </li>
                               
                   </span> 
                
                    <span *ngFor="let gost of prijatelji | limitDuzineListe : 10" >
                        <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)  &&   (gost.ime + gost.prezime + gost.email).toLowerCase().indexOf(search.toLowerCase()) > -1" >
                            
                                       • {{gost.ime}} {{gost.prezime}} 
                                    <span style="float: right">
                                        <button class="btn btn-warning btn-sm" >Prekini prijateljstvo</button>
                                    </span>                 
                        </li>
                               
                   </span> 

                    <span *ngFor="let gost of nePrijatelji | limitDuzineListe : 10" >
                        <li class="list-group-item justify-content-between" *ngIf="(gost.ime != null || gost.prezime != null)  &&   (gost.ime + gost.prezime + gost.email).toLowerCase().indexOf(search.toLowerCase()) > -1" >
                            
                                    • {{gost.ime}} {{gost.prezime}} 
                                    <span style="float: right">
                                        <button class="btn btn-primary btn-sm" >Posalji zahtev</button>
                                    </span>  
                                               
                        </li>
                               
                   </span> 
            </ul>
        </div>
     </div>

</div>