<h2 style="margin-top:20px;">Dodavanje restorana</h2>
<div class="row" style="margin-top:20px;">
    
    <div class="form-group form-inline">   
        <label> Naziv </label>
        <input type="text" class="form-control" [(ngModel)]="noviNaziv" placeholder="*">  
   
        <label> Vrsta </label>
        <input type="text" class="form-control"  [(ngModel)]="novaVrsta" placeholder="*">  
   
        <label> Vlasnik </label>
        <input type="text" class="form-control"  [(ngModel)]="noviVlasnik" placeholder="*">  

        <button class="btn btn-success" (click)="dodaj()">Dodaj</button>
    </div>


</div>

<table class="table">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Vrsta</th>
      <th>Ocena</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restoran of restorani">
      <td>{{restoran.naziv}}</td>
      <td>{{restoran.vrsta}}</td>
      <td>{{restoran.ocena}}</td>
      <td><button (click)="obrisiRestoran(restoran)" class="btn btn-primary btn-sm">✕</button></td>
    </tr>
  </tbody>
</table>