

<div class ="col-md-7">
    <div class="card">

        <div class="header">
            Dodavanje reona
        </div>

        <div class="card-block">
            <div class="card-block">

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="add-id" type="number" class="form-control" name="id" value="" [(ngModel)] = "id" placeholder="* id">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="add-opis" type="text" rows="3" class="form-control" name="opis" value="" [(ngModel)] = "opis" placeholder="* opis">
                </div>

                <div class="col-sm-12 controls">
                    <button id="btn-add" href="#" (click)="addReon()" class="btn btn-success" style ="margin-left: 450px"  [disabled]="id=='' ||  opis==''" >ADD! </button>

                </div>

            </div>
        </div>


    </div>
</div>
