<style>
    .dimOnHover:hover {
        background: #000 !important;
        cursor: pointer;
    }

    .dimOnHover:hover td {
        background: #c7d4dd !important;
    }
</style>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr class="dimOnHover">
        <td><button [routerLink] = "['/novirestoran']"> Novi Restorani </button></td>
        <td>###</td>
        <td> <button [routerLink] = "['/novizaposleni']"> Novi Zaposleni </button></td>
        <td>### </td>
        <td> <button [routerLink] = "['/jelovnik']"> Jelovnik </button></td>



    </tr>
    </tbody>
</table>