<style>
    .dimOnHover:hover {
        background: #000 !important;
        cursor: pointer;
    }

    .dimOnHover:hover td {
        background: #c7d4dd !important;
    }
</style>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr class="dimOnHover">
        <td><button [routerLink] = "['/novirestoran']"> Novi Restorani </button></td>
        <td>###</td>
        <td> <button [routerLink] = "['/novizaposleni']"> Novi Zaposleni </button></td>
        <td>### </td>
        <td> <button [routerLink] = "['/jelovnik']"> Jelovnik </button></td>

    </tr>

    <tr>
        <td><button [routerLink] = "['/stats']"> Stats </button></td>
        <td> ###</td>
        <td><button [routerLink] = "['/dodavanjereona']"> DodavanjeReona </button> </td>
        <td> ###</td>
        <td> <button [routerLink] = "['/dodavanjestola']"> DodavanejStola </button> </td>
    </tr>

    <tr>
        <td><button [routerLink] = "['/statistika']"> Statistika </button></td>
        <td> ###</td>
        <td><button [routerLink] = "['/potraznajnamirnica']"> PotraznjaNamirnica </button> </td>
        <td> ###</td>
        <td><button [routerLink] = "['/potraznje']"> Potraznje </button> </td>
    </tr>

    <tr>
        <td><button [routerLink] = "['/primljeneponude']"> PrimljenePonude </button></td>
        <td> ###</td>
        <td><button [routerLink] = "['/mojeponude']"> MojePonude </button></td>
    </tr>
    </tbody>
</table>